@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: "Lato";
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
}
header{
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.navList{
    margin: 10px 30%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navList li a{
    transition: 1s;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navList li a:hover{
    color: grey;
}
#modelBox{
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
#model{
    width: 100%;
    height: 500px;
}
#midContent{
    width: 50%;
    margin: 7%;
    padding: 2%;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1400px) {
    .navList{
        flex-direction: column;
    }
    .navList li{
        margin: 7px auto;
    }
    #model{
        height: 700px;
    }
    #modelBox{
        width: 100%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    }
    #midContent{
        width: 80%;
        margin: 4% auto;
        padding: 2%;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }
}