<div class="flexHeader">
    <div class="logOutSpacer"><img (click)="logOut()" src="../../assets/svg/logout.svg" alt="logOut"></div>
    <div class="hi"> Hi {{name}} </div>
    <div class="logOutSpacer"><img (click)="navigationService.navigate('settings')" src="../../assets/svg/settings.svg" alt="settings"></div>
</div>

<div [ngClass]="{'scheduleContainer': !lineSwitch, 'hidden': lineSwitch}">
    <app-schedule *ngIf="!reload"></app-schedule>
</div>

<div [ngClass]="{'hidden': !lineSwitch, 'newScheduleContainer': lineSwitch}">
    <app-new-schedule></app-new-schedule>
</div>

<div class="navigation">
    <div [ngClass]="{'lineL': !lineSwitch, 'lineR': lineSwitch}"></div>
    <div class="flexNavigation">
        <div class="navButtons" (click)="lineSwitcher(false)">My Schedules</div>
        <div class="navButtons" (click)="lineSwitcher(true)">New Schedules</div>
    </div>
</div>