* {
    cursor: default;
}

.flexHeader {
    display: flex;
    .hi {
        margin: 0 auto;
        padding: 5%;
    
        width: fit-content;
    
        color: white;
        font-size: 32px;
        font-weight: 800;
    }
    .logOutSpacer {
        padding: 5% 0;
        width: 15%;

        text-align: center;
        img {
            height: 100%;
            cursor: pointer;
        }
    }
}

.scheduleContainer {
    margin: 0 auto;
    padding: 5% 0 20% 0;

    width: 90%;
}

.newScheduleContainer {
    margin: 0 auto;
    padding: 5% 0 20% 0;
    color: white;
    width: 90%;
}

.hidden {
    display: none;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;

    width: 100%;

    background-color: #A11217;

    .lineL {
        margin: 0 0 0 0;
        border: 3px solid white;

        width: 50%;

        transition: 200ms;
    }
    .lineR {
        margin: 0 0 0 50%;
        border: 3px solid white;

        width: 50%;
        transition: 200ms;
    }

    .flexNavigation {
        display: flex;
        justify-content: space-around;

        text-shadow: 2px 1px 2px #0000004f;

        .navButtons {
            height: 7vh;
            line-height: 7vh;
            color: white;
            font-size: 22px;
            font-weight: 600;
        }
        .navButtons:hover {
            cursor: pointer;
        }
    }
}