<div *ngIf="accepted === true">
    <div class="daySelectFlex" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">   
        <button class="arrows" (click)="dayNavigaition(false)">&#10094;</button>     
        <h3 class="dayName">{{ today }}</h3>
        <button class="arrows" (click)="dayNavigaition(true)">&#10095;</button>
    </div>
    <hr>
    <div *ngIf="role === 'user'">

    </div>
    <div *ngIf="role === 'coach'">
        <div (click)="openTime(true)" [ngClass]="{'hidden': showNewTime, 'confirm': !showNewTime}"> New schedule </div>
        <div [ngClass]="{'hidden': !showNewTime, 'timer': showNewTime}">
            <div *ngIf="!disableInsert">
                <div class="flexStartEnd">
                    <div (click)="setTime(true, true)" class="arrowHolder">
                        <img style="transform: rotate(90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                    </div>
                    <div (click)="setTime(false, true)" class="arrowHolder">
                        <img style="transform: rotate(90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                    </div>
                </div>
                <div class="flexStartEnd">
                    <div class="hourHolder2"> {{ newStartTime.getUTCHours() }}:00 </div>
                    <div class="hourHolder2"> {{ newEndTime.getUTCHours() }}:00 </div>
                </div>
                <div class="flexStartEnd">
                    <div (click)="setTime(true, false)" class="arrowHolder">
                        <img style="transform: rotate(-90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                    </div>
                    <div (click)="setTime(false, false)" class="arrowHolder">
                        <img style="transform: rotate(-90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                    </div>
                </div>
                <div class="confirm" (click)="insertCoachSchedule()">Confirm</div>
            </div>
            <div *ngIf="disableInsert">
                Too late to add anything for today...
            </div>
            <div class="cancel" (click)="openTime(false)">Close</div>
        </div>
        <hr>
        <div class="coachesSchedulesContainer" *ngFor="let cs of todaysCoachesSchedules">
            <div class="schTime"> {{cs.startTime | date:'HH:mm'}} </div> 
            -
            <div class="schTime"> {{cs.endTime | date:'HH:mm'}} </div>
            <div class="delTime" (click)="deleteCoachSchedule(cs.coachTimeID)">Delete</div>
        </div>
        <div class="komponentaZaVrijeme">
            <div class="timestampContainer">
                <div *ngFor="let time of graphTime" class="timestamp"> {{ time }} </div>
            </div>
            <div style="margin-top: 8px;">
                <div [ngClass]="{'timelineWhite': color==='white', 'timelineRed': color==='red'}" *ngFor="let color of graphColor">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="accepted === null">
    <div style="color: white;">Waiting for your coach to accept</div>
</div>

<!--
<div>start</div>
<input type="datetime-local" #startDateInput>
<div>end</div>
<input type="datetime-local" #endDateInput>
<br>
<br>
<button (click)="insertSchedule()">Insert</button>
-->