div.confirm {
    margin: 3% auto;
    width: 60%;
    padding: 2%;
    height: 20px;
    line-height: 20px;
    border: solid white 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: 500;
}

.timer {
    width: 90%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #A11217;
    border-radius: 5px;
    text-align: center;
    div.cancel {
        margin: 2% auto;
        width: 60%;
        padding: 2%;
        height: 20px;
        line-height: 20px;
        border: solid white 1px;
        border-radius: 5px;
    }
}

.hidden {
    display: none;
}

.daySelectFlex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 30px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    .dayName {
        margin: 0 5%;
    }
    .arrows {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 24px;
        line-height: 30px;
    }
    .arrows:hover { cursor: pointer; }
}

.flexStartEnd {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    div.textHolder1 {
        width: 30%;
        text-align: center;
        padding: 2%;
        font-weight: 500;
        font-size: 18px;
    }
    div.hourHolder1 {
        width: 30%;
        text-align: center;
        padding: 2%;
        font-weight: 500;
        font-size: 18px;
        border: solid white 1px;
        border-radius: 5px;
    }
    div.hourHolder2 {
        width: 30%;
        padding: 2%;
        height: 20px;
        line-height: 20px;
        border: solid white 1px;
        border-radius: 5px;
    }
    div.arrowHolder {
        width: 30%;
        img {
            height: 100%;
        }
        img:active {
            filter: saturate(0%) brightness(20%);
        }
    }
}

.coachesSchedulesContainer {
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    margin: 5% auto;
    line-height: 30px;
    font-size: 26px;
    .schTime {
        height: 30px;
        line-height: 30px;
        font-size: 26px;
    }    
    .delTime {
        color: white;
        background-color: #A11217;
        padding: 0 2%;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
}

.komponentaZaVrijeme {
    display: flex;
    .timestampContainer {
        margin-right: 2%;
    }
    .timestamp {
        font-size: 12px;
        height: 40px;
        width: fit-content;
    }
    .timelineRed {
        background-color:  #A11217;
        height: 40px;
        width: 100px;
    }
    .timelineWhite {
        background-color: white;
        height: 40px;
        width: 100px;
    }
}