<div *ngIf="accepted === true">
    <div class="daySelectFlex" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">   
        <button class="arrows" (click)="dayNavigaition(false)">&#10094;</button>     
        <h3 class="dayName">{{ today }}</h3>
        <button class="arrows" (click)="dayNavigaition(true)">&#10095;</button>
    </div>
    <hr>
    <div *ngIf="role === 'user'">

    </div>
    <div *ngIf="role === 'coach'">
        <div (click)="openTime(true)" class="confirm"> New schedule </div>
        <div [ngClass]="{'hidden': !showNewTime, 'timer': showNewTime}">
            <div class="flexStartEnd">
                <div (click)="setTime(true, true)" class="arrowHolder">
                    <img style="transform: rotate(90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                </div>
                <div (click)="setTime(false, true)" class="arrowHolder">
                    <img style="transform: rotate(90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                </div>
            </div>
            <div class="flexStartEnd">
                <div class="hourHolder2"> {{ newStartTime.getUTCHours() }}:00 </div>
                <div class="hourHolder2"> {{ newEndTime.getUTCHours() }}:00 </div>
            </div>
            <div class="flexStartEnd">
                <div (click)="setTime(true, false)" class="arrowHolder">
                    <img style="transform: rotate(-90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                </div>
                <div (click)="setTime(false, false)" class="arrowHolder">
                    <img style="transform: rotate(-90deg);" src="../../assets/svg/cornerArrow.svg" alt="">
                </div>
            </div>
            <div class="confirm" (click)="insertCoachSchedule()">Confirm</div>
            <div class="cancel" (click)="openTime(false)">Cancel</div>
        </div>
    </div>
</div>

<div *ngIf="accepted === null">
    <div style="color: white;">Waiting for your coach to accept</div>
</div>

<!--
<div>start</div>
<input type="datetime-local" #startDateInput>
<div>end</div>
<input type="datetime-local" #endDateInput>
<br>
<br>
<button (click)="insertSchedule()">Insert</button>
-->