<div class="logoContainer">
    <img class="logo" src="../assets/img/logo.png" alt="logo">
</div>
<div class="userCredsContainer">
    <div class="loginForm" action="">
        <input type="email" class="credsInput" placeholder="Email" #emailInput>
        <input style="margin-bottom: 10%;" type="password" class="credsInput" placeholder="Password" #passwordInput>
        <button class="loginButtons" (click)="login()">Login</button>
        <button class="loginButtons" (click)="navigationService.navigate('register')">Register</button>
    </div>
</div>
<div class="logoContainer">
    <img class="logo" src="../assets/img/dumbell.png" alt="dumbell">
</div>