<div class="logoContainer">
    <img class="logo" src="../assets/img/logo.png" alt="logo">
</div>
<div class="userCredsContainer">
    <div class="loginForm" action="">
        <input type="email" class="credsInput" id="email" placeholder="Email" #emailInput>
        <input type="password" class="credsInput" id="password" placeholder="Password" #passwordInput>             
        <input type="password" class="credsInput" placeholder="Repeat password" #repeatPassword style="margin-bottom: 10%;">
        <button class="loginButtons" (click)="signUp()">Register</button>
        <button class="loginButtons" (click)="navigationService.navigate('login')">Back to login</button>
    </div>
</div>
<div class="logoContainer" (click)="navigationService.navigate('info', 'registered')">
    <img class="logo" src="../assets/img/dumbell.png" alt="dumbell">
</div>