<div class="logoContainer">
    <img class="logo" src="../assets/img/logo.png" alt="logo">
</div>
<div class="userCredsContainer">
    <div class="loginForm" action="">
        <input type="email" class="credsInput" name="email" placeholder="Email">
        <input type="password" class="credsInput" name="password" placeholder="Password">
        <input style="margin-bottom: 10%;" type="password" class="credsInput" name="password" placeholder="Repeat password">
        <button class="loginButtons">Register</button>
        <button class="loginButtons" (click)="navigate('login')">Back to login</button>
    </div>
</div>
<div class="logoContainer">
    <img class="logo" src="../assets/img/dumbell.png" alt="dumbell">
</div>