<div class="logoContainer">
    <img class="logo" src="../assets/img/logo.jpeg" alt="logo">
</div>
<div class="userCredsContainer">
    <div class="loginForm" action="">
        <input type="email" class="credsInput" name="email" placeholder="Email">
        <input type="password" class="credsInput" name="password" placeholder="Password">
        <button class="loginButtons">Login</button>
        <button class="loginButtons">Register</button>
    </div>
</div>
<div class="logoContainer">
    <img class="logo" src="../assets/img/dumbell.png" alt="dumbell">
</div>