#root {
  margin: 0 auto;
  width: 90%;
}

.details {
  margin: 1%;
  font-weight: 500;
  font-size: larger;
  .detail {
    font-size: medium;
  }
  .goto {
    padding: 0.2% 1%;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #91739C;
    color: white;
  }
  .goto:hover {
    cursor: pointer;
  }
}

.url {
  text-align: center;
  margin: 1% 0;
  font-size: larger;
}

.container {
  border-radius: 5px;
  padding: 1%;

  .topBar {
    padding: 0 4%;
    margin: 0 0 1% 0;
    height: 22px;
    width: 92%;
    display: flex;
    justify-content: space-between;

    .monthTitle {
      font-weight: bold;
      line-height: 22px;
    }
  
    .monthButtons {
      .button {
        margin: 0 5px;
        padding: 0;
        width: fit-content;
        height: 22px;
        border: white solid 1px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .button:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  
  .arrow {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1) sepia(1);
  }
  
  .calendarTable {
    width: 100%;
    border-spacing: 0;
  }
  
  .dayNames {
    text-align: center;
  }
  
  .dayNameTitle {
    background-color: #B49FCC;
    color: #412234;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .dayNameTitle:first-child {
    border-radius: 5px 0 5px 5px;
  }
  .dayNameTitle:last-child {
    border-radius: 0 5px 5px 5px;
  }
  
  .dayNameEmpty {
     border: solid #B49FCC 1px;
    background-color: hsl(0, 31%, 84%);
    border-radius: 5px;
    width: 14%;
  }

  .dayName {
    border: solid #B49FCC 1px;
    background-color: #EAD7D7;
    border-radius: 5px;
    width: 14%;
    transition: ease-in-out 0.2s;
    .dayNumber {
      margin: 2% 0 0 2%;
      color: #EAD7D7;
      background-color: #91739C;
      border: solid #91739C 3px;
      border-radius: 20px;
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 14px;
    }
    
    .cellContent {
      height: 70px;
      transition: ease-in-out 0.2s;
      .commits {
        list-style-type: none;
        padding: 0;
        margin: 3% 10%;
        list-style: none;
        .commit {
          max-height: 20px;
          position: relative;
          transition: ease-in-out 0.2s;
          margin: 4% 2%;
          padding: 0 0 1% 0;
          border-radius: 5px;
          font-size: small;
          background-color: #91739C;
          color: hsl(0, 31%, 92%);
        }
        .commit:hover {
          margin: 4% 0;
          background-color: hsl(284, 17%, 63%);
          cursor: pointer;
        }
      }
    }
  }
  .dayName:hover {
    border-radius: 15px 3px;
  }
}